.contact {
  .contact__list {
    display: flex;
    justify-content: center;
    gap: 20px;

      li a {
        font-size: 25px;
        color: $gray;
        &:hover {
          color: $dark;
        }
      }
    }
  }